@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Filmer</h5>
                <p class="card-text">Lista alla filmer och välj vilken som ska hyras.</p>
                <a asp-controller="Films" asp-action="Index" class="btn btn-primary">Gå till filmer</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Kunder</h5>
                <p class="card-text">Lista alla kunder.</p>
                <a asp-controller="Customer" asp-action="Index" class="btn btn-primary">Gå till kunder</a>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Uthyrningar</h5>
                <p class="card-text">Lista alla uthyrningar.</p>
                <a asp-controller="Rental" asp-action="Index" class="btn btn-primary">Gå till uthyrningar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Personal</h5>
                <p class="card-text">Lista all personal och lägg till nya anställda.</p>
                <a asp-controller="Staff" asp-action="Index" class="btn btn-primary">Gå till personal</a>
            </div>
        </div>
    </div>
</div>