
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h4>Rentals expiring today</h4>

    <table class="table">
    <thead>
            <tr>
                <th>Customer</th>
                <th>Return Date</th>
            </tr>
    </thead>
    <tbody>
            @foreach (var rental in ViewBag.ExpiringRentals as IEnumerable<RetroVHSRental.Models.Rental>)
            {
                <tr>
                    <td>@rental.CustomerId</td>
                    <td>@rental.ReturnDate</td>
                </tr>
        }
        
    </tbody> 
</table>

</div>

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h5>Films</h5>
                <p class="card-text">List all films and choose your title.</p>
                <a asp-controller="Films" asp-action="Index" class="btn btn-outline-success">Go to films</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5>Customers</h5>
                <p class="card-text">List all customers.</p>
                <a asp-controller="Customer" asp-action="Index" class="btn btn-outline-success">Go to customers</a>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h5>Rentals</h5>
                <p class="card-text">List all rentals.</p>
                <a asp-controller="Rental" asp-action="Index" class="btn btn-outline-success">Go to rentals</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5>Staff</h5>
                <p class="card-text">List all staff and add new.</p>
                <a asp-controller="Staff" asp-action="Index" class="btn btn-outline-success">Go to staff</a>
            </div>
        </div>
    </div>
</div>